.sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background: rgb(0, 0, 67) ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: rgba(13, 171, 215, 0.747);
    color: azure;
    gap: 15px;
    cursor: pointer;
}